%ul.main-page__body__side-bar__nav__list
  %li.main-page__body__side-bar__nav__list__item.main-page__body__side-bar__nav__list__item--current
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link main-page__body__side-bar__nav__list__item--current__text-link' do
      マイページ
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right main-page__body__side-bar__nav__list__item--current__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      お知らせ
      %span.main-page__body__side-bar__nav__list__item__number
        0
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      やることリスト
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      いいね！一覧
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      出品する
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      出品した商品 - 出品中
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      出品した商品 - 取引中
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      出品した商品 - 売却中
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      購入した商品 - 取引中
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      購入した商品 - 過去の取引
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      ニュース一覧
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      評価一覧
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      ガイド
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      お問い合わせ
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
