%ul.main-page__body__side-bar__nav__list
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      プロフィール
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      発送元・お届け先住所変更
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      支払い方法
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      メール/パスワード
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      本人情報
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      電話番号の確認
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to confirm_sign_out_users_path, class: 'main-page__body__side-bar__nav__list__item__text-link' do
      ログアウト
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
