%section.main-page__body__content__chapter
  %h2.main-page__body__content__chapter__title
    プロフィール
  = form_for current_user, url: users_update_profile_path, method: :post, html: { class: "main-page__body__content__chapter__form" } do |f|
    .main-page__body__content__chapter__form__profile-icon
      %figure.main-page__body__content__chapter__form__profile-icon__figure
        = image_tag 'member_photo_noimage_thumb.png', class: "main-page__body__content__chapter__form__profile-icon__figure__image"
      = f.text_field :nickname, placeholder: '例) AYA☆セール中', class: 'main-page__body__content__chapter__form__profile-icon__nickname'
    .main-page__body__content__chapter__form__profile-content
      = f.text_area :profile, placeholder: Settings.profile_placeholder, class: 'main-page__body__content__chapter__form__profile-content__profile'
      = f.submit "変更する", class: "main-page__body__content__chapter__form__profile-content__submit-btn"
