%footer.single-page__footer
  %nav.single-page__footer__list-wrap
    %ul.single-page__footer__list
      %li.single-page__footer__list__item
        = link_to 'https://www.mercari.com/jp/privacy/', class: 'single-page__footer__list__link' do
          プライバシーポリシー
      %li.single-page__footer__list__item
        = link_to 'https://www.mercari.com/jp/tos/', class: 'single-page__footer__list__link' do
          メルカリ利用規約
      %li.single-page__footer__list__item
        = link_to 'https://www.mercari.com/jp/tokutei/', class: 'single-page__footer__list__link' do
          特定商取引に関する表記
  = link_to '', class: 'single-page__footer__mercari-logo' do
    = image_tag 'logo-gray.svg', alt: "mercari", class: 'single-page__footer__mercari-logo__image'
  %p.single-page__footer__text
    %small.single-page__footer__text__small
      © 2019 Mercari
