%aside.single-page__app-banner
  .single-page__app-banner__inner
    .single-page__app-banner__inner__links
      %h2.single-page__app-banner__inner__links__title
        スマホでかんたんフリマアプリ
      %p.single-page__app-banner__inner__links__text
        今すぐ無料ダウンロード！
      .single-page__app-banner__inner__links__icons
        %figure.single-page__app-banner__inner__links__icons__mercari-figure
          = image_tag '/images/mercari_icon.png', class: 'single-page__app-banner__inner__links__icons__mercari-figure__image'
        %ul.single-page__app-banner__inner__links__icons__link-lists
          %li.single-page__app-banner__inner__links__icons__link-lists__item
            = link_to 'https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8', class: 'single-page__app-banner__inner__links__icons__link-lists__item__link' do
              = image_tag '/images/app-store.svg', class: 'single-page__app-banner__inner__links__icons__link-lists__item__image'
          %li.single-page__app-banner__inner__links__icons__link-lists__item
            = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: 'single-page__app-banner__inner__links__icons__link-lists__item__link' do
              = image_tag '/images/google-play.svg', class: 'single-page__app-banner__inner__links__icons__link-lists__item__image'
    %figure.single-page__app-banner__inner__sp-figure
      = image_tag '/images/download_content_pc.png', class: 'single-page__app-banner__inner__sp-figure__image'
