.main-page
  = render 'shared/main-page/main-header', { large_categories: @large_categories, brands: @brands, search_params: { keyword: "" } }
  = render 'shared/main-page/bread-crumbs'
  = render 'credit_cards/add/main-body', { credit_card: @credit_card }
  = render 'shared/main-page/aside'
  = render 'shared/main-page/main-footer'
  = render 'shared/main-page/footer-sell-button'
