.main-page
  = render 'shared/main-page/main-header', { large_categories: @large_categories, brands: @brands, search_params: { keyword: "" } }
  = render 'shared/main-page/bread-crumbs'
  = render 'users/index/main-body'
  = render 'shared/main-page/aside'
  = render 'shared/main-page/main-footer'
  = render 'shared/main-page/footer-sell-button'
