.main-page__header__nav-box__right-box__list__item__item-box--mypage__user-state
  %figure.main-page__header__nav-box__right-box__list__item__item-box--mypage__user-figure
    .main-page__header__nav-box__right-box__list__item__item-box--mypage__user-figure__image-wrap
      = image_tag '/images/member_photo_noimage_thumb.png', class: 'main-page__header__nav-box__right-box__list__item__item-box--mypage__user-figure__image'
    %figcaption.main-page__header__nav-box__right-box__list__item__item-box--mypage__user-figure__name
      ユーザー名
  %ul.main-page__header__nav-box__right-box__list__item__item-box--mypage__review-listing
    %li.main-page__header__nav-box__right-box__list__item__item-box--mypage__review-listing__item
      = link_to '評価： 0', '', class: 'main-page__header__nav-box__right-box__list__item__item-box--mypage__review-listing__link'
    %li.main-page__header__nav-box__right-box__list__item__item-box--mypage__review-listing__item
      = link_to '出品数: 0', '', class: 'main-page__header__nav-box__right-box__list__item__item-box--mypage__review-listing__link'
%ul.main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point
  %li.main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item
    = link_to '', class: 'main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__link' do
      .main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__text
        売上金
      .main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__value
        ¥ 0
        = fa_icon 'angle-right', class: 'main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__icon-arrow-right'
  %li.main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item
    = link_to '', class: 'main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__link' do
      .main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__text
        ポイント
      .main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__value
        P 0
        = fa_icon 'angle-right', class: 'main-page__header__nav-box__right-box__list__item__item-box--mypage__sales-point__item__icon-arrow-right'
