.main-page
  = render 'shared/main-page/main-header', { large_categories: @large_categories, brands: @brands, keyword: "" }
  - breadcrumb :large_categories
  = render 'shared/main-page/bread-crumbs'
  = render 'large_categories/index/index-body', { large_categories: @large_categories }
  = render 'shared/main-page/aside'
  = render 'shared/main-page/main-footer'
  = render 'shared/main-page/footer-sell-button'
