%h1.main-page__item-container__name
  = item.name
.main-page__item-container__content-box
  .main-page__item-container__content-box__photo-box
    .main-page__item-container__content-box__photo-box__inner
      .main-page__item-container__content-box__photo-box__inner__show
        .main-page__item-container__content-box__photo-box__inner__show__container
          - item.images.each_with_index do |image, i|
            %div{ class: first_add_active_class_name(i, 'main-page__item-container__content-box__photo-box__inner__show__container__content')}
              .main-page__item-container__content-box__photo-box__inner__show__container__content__inner
                = image_tag image.image.url, class: 'main-page__item-container__content-box__photo-box__inner__show__container__content__inner__image'
      .main-page__item-container__content-box__photo-box__inner__select
        - item.images.each_with_index do |image, i|
          %div{ class: first_add_active_class_name(i, 'main-page__item-container__content-box__photo-box__inner__select__content') }
            .main-page__item-container__content-box__photo-box__inner__select__content__inner
              = image_tag image.image.url, class: 'main-page__item-container__content-box__photo-box__inner__select__content__inner__image'
    - if item.item_state.id == 4
      .main-page__item-container__content-box__photo-box__badge.main-page__item-container__content-box__photo-box__badge--sold-out
        .main-page__item-container__content-box__photo-box__badge__text
          SOLD
  %table.main-page__item-container__content-box__detail
    %tbody.main-page__item-container__content-box__detail__container
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          出品者
        %td.main-page__item-container__content-box__detail__container__content__body
          = link_to item.seller.nickname, '', class: 'main-page__item-container__content-box__detail__container__content__body__link'
          .main-page__item-container__content-box__detail__container__content__body__inner
            .main-page__item-container__content-box__detail__container__content__body__inner__content
              = fa_icon 'laugh', class: ['main-page__item-container__content-box__detail__container__content__body__inner__content__icon', 'main-page__item-container__content-box__detail__container__content__body__inner__content__icon--good']
              %span.main-page__item-container__content-box__detail__container__content__body__inner__content__number
                100
            .main-page__item-container__content-box__detail__container__content__body__inner__content
              = fa_icon 'meh', class: ['main-page__item-container__content-box__detail__container__content__body__inner__content__icon', 'main-page__item-container__content-box__detail__container__content__body__inner__content__icon--normal']
              %span.main-page__item-container__content-box__detail__container__content__body__inner__content__number
                10
            .main-page__item-container__content-box__detail__container__content__body__inner__content
              = fa_icon 'frown', class: ['main-page__item-container__content-box__detail__container__content__body__inner__content__icon', 'main-page__item-container__content-box__detail__container__content__body__inner__content__icon--bad']
              %span.main-page__item-container__content-box__detail__container__content__body__inner__content__number
                1
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          カテゴリー
        %td.main-page__item-container__content-box__detail__container__content__body
          = link_to '', class: 'main-page__item-container__content-box__detail__container__content__body__link' do
            .main-page__item-container__content-box__detail__container__content__body__content
              = item.large_category.name
          = link_to '', class: 'main-page__item-container__content-box__detail__container__content__body__link' do
            .main-page__item-container__content-box__detail__container__content__body__content
              = fa_icon 'angle-right', class: 'main-page__item-container__content-box__detail__container__content__body__icon'
              = item.middle_category.name
          = link_to '', class: 'main-page__item-container__content-box__detail__container__content__body__link' do
            .main-page__item-container__content-box__detail__container__content__body__content
              = fa_icon 'angle-right', class: 'main-page__item-container__content-box__detail__container__content__body__icon'
              = item.small_category.name
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          ブランド
        %td.main-page__item-container__content-box__detail__container__content__body
          - unless item.brand.nil? 
            = link_to '', class: 'main-page__item-container__content-box__detail__container__content__body__link' do
              .main-page__item-container__content-box__detail__container__content__body__content
                = item.brand.name
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          商品のサイズ
        %td.main-page__item-container__content-box__detail__container__content__body
          - unless item.item_size.nil?
            = item.item_size.size
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          商品の状態
        %td.main-page__item-container__content-box__detail__container__content__body
          = item.item_state.name
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          配送料の負担
        %td.main-page__item-container__content-box__detail__container__content__body
          = item.delivery_charge.name
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          配送の方法
        %td.main-page__item-container__content-box__detail__container__content__body
          = item.delivery_way.name
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          配送元地域
        %td.main-page__item-container__content-box__detail__container__content__body
          = link_to item.prefecture.name, '', class: 'main-page__item-container__content-box__detail__container__content__body__link'
      %tr.main-page__item-container__content-box__detail__container__content
        %th.main-page__item-container__content-box__detail__container__content__title
          配送日の目安
        %td.main-page__item-container__content-box__detail__container__content__body
          = item.delivery_time.name
.main-page__item-container__price-box
  %span.main-page__item-container__price-box__price
    = number_to_currency(item.price, format: "%u%n", unit: "￥")
  %span.main-page__item-container__price-box__tax
    (税込)
  %span.main-page__item-container__price-box__shipping-fee
    = item.delivery_charge.shipping_fee