.single-page
  %header.single-page__header
    = render 'shared/single-page/header/single-page__header__mercari-logo'
  %section.single-page__body__container
    %h2.single-page__body__confirm
      購入内容の確認
      %h1.single-page__body__item_info
      = form_for( @item, url:buy_item_path) do |f|
        .single-page__body__item_content
          = image_tag @item.images.first.image.url, class: "single-page__body__image"
        .single-page__body__item_name
          = @item.name
        %br
        .single-page__body__money
          = "#{number_to_currency(@item.price, :format => "%u%n", :unit => "￥" )}"
        %br
        .single-page__body__btn_mng
          =f.submit'ポイントはありません', class:'single-page__body__pointbtn'
        %br
        .single-page__body__price_cell 支払い金額
        .single-page__body__price_cell
          = "#{number_to_currency(@item.price, :format => "%u%n", :unit => "￥")}"
        %br
        .single-page__body__btn_mng     
          =f.submit'購入する', class:'single-page__body__btn'
        .single-page__body__list 配送先
        .single-page__body__receiver_content
          ="〒#{(current_user.receiver_information.postal_code)}" 
          %br
          =current_user.receiver_information.prefecture
          =current_user.receiver_information.city
          =current_user.receiver_information.street
          =current_user.receiver_information.building
          %br
          =current_user.receiver_information.family_name
          =current_user.receiver_information.first_name
          .single-page__body__fix
            = link_to '変更する',''
            = fa_icon 'angle-right'
        %br
        .single-page__body__list 支払い方法
        .single-page__body__receiver_content 
          = hide_head_card_number(current_user.credit_card.card_number)
          %br
          ="#{(current_user.credit_card.valid_month)}/#{(current_user.credit_card.valid_year)}"
          %figure
            = image_tag credit_card_logo(current_user.credit_card.card_number), class: 'main-page__body__content__chapter__inner__payment-list__item__form__figure__image'
          .single-page__body__fix
            = link_to '変更する',''
            = fa_icon 'angle-right'
  = render 'shared/single-page/single-page__footer'
