.single-page
  %header.single-page__header
    = render 'shared/single-page/header/single-page__header__mercari-logo'
  %section.single-page__body__container
    %h2.single-page__body__complete_first
      %h2.single-page__body__complete_second
        =fa_icon "clock-o" 
        %span 発送をお待ちください
      %h2.single-page__body__complete_first
        %p 出品者からの発送通知をお待ちください
    .single-page__body__buy 購入が完了しました
    .single-page__body__item_content
      = image_tag @item.images.first.image.url, class: "single-page__body__image_complete"
    .single-page__body__name_complete
      = @item.name
    .single-page__body__money
      = "#{number_to_currency(@item.price, :format => "%u%n", :unit => "￥" )}  #{@item.delivery_charge.shipping_fee}"

    %br
    .single-page__body__list 配送先
    .single-page__body__receiver_content
      ="〒#{(current_user.receiver_information.postal_code)}" 
      %br
      =current_user.receiver_information.prefecture
      =current_user.receiver_information.city
      =current_user.receiver_information.street
      =current_user.receiver_information.building
      %br
      =current_user.receiver_information.family_name
      =current_user.receiver_information.first_name
    .single-page__body__list 支払い方法
    .single-page__body__receiver_content 
      = hide_head_card_number(current_user.credit_card.card_number)
      %br
      ="#{(current_user.credit_card.valid_month)}/#{(current_user.credit_card.valid_year)}"
      %figure
      = image_tag credit_card_logo(current_user.credit_card.card_number), class: 'main-page__body__content__chapter__inner__payment-list__item__form__figure__image'
    %section.single-page__body__flow
      %h3 発送通知後の流れ
      %div
        %i.icon-good
        %i.icon-normal
        %i.icon-bad
      %p
        商品を受け取ったら
        %br>/
        出品者の評価をしましょう。
        %br>/
        購入代金が出品者に振り込まれます。
        %br>/
        = link_to 'マイページへもどる','/users'
  = render 'shared/single-page/single-page__footer'
