.single-page
  %header.single-page__header
    = render 'shared/single-page/header/single-page__header__mercari-logo'
  %section.single-page__body__container
    %h2.single-page__body__title 商品情報を入力
    =form_for @item do |f|
      .single-page__body__form__new
        =f.label :image,'出品画像', class: 'single-page__body__form__image'
        %span.single-page__body__form__group__require-mark
          必須
        %div
          最大10枚までアップロードできます
        .single-page__body__form__sell-upload-drop-box
          = f.fields_for :images do |image|
            %label.fallback
              = image.file_field :image, multipart: true,type: 'file',class: 'input-default'
          .visible-pc
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
      .single-page__body__form__list                    
        .single-page__body__form__new
          =f.label :name,"商品名", class: 'single-page__body__form__group__label'
          %span.single-page__body__form__group__require-mark
            必須
          = f.text_field :name, placeholder: '商品名（必須40文字まで）', class: 'single-page__body__form__group__input-text'
      .single-page__body__form__list 
        .single-page__body__form__new
          =f.label  :detail,'商品の説明', class: 'single-page__body__form__group__label'
          %span.single-page__body__form__group__require-mark
            必須
          %br
          = f.text_area :detail, placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class: 'single-page__body__form__group__input-text-detail'
      .single-page__body__form__list 
        .single-page__body__form__sell
          %h3.single-page__body__form__sell-title
            商品の詳細
          .single-page__body__form__sell-box
            .single-page__body__form__sell-box-option
              =f.label :large_category_id,'カテゴリー', class: 'single-page__body__form__label'
              %span.single-page__body__form__group__require-mark
                必須
              %br
                .single-page__body__form__large_category-select-wrap
                  .single-page__body__form__group__large_category-select-wrap__select-wrap
                    = f.collection_select :large_category_id, LargeCategory.all, :id, :name, {},{class: 'single-page__body__form__category' }
                    = fa_icon 'angle-down', class: 'single-page__body__form__group__large_category-select-wrap__select-wrap__icon-arrow-bottom'
                %label{for: 'middle_category_id', class: 'single-page__body__form__group__label'}
                %br
                .single-page__body__form__large_category-select-wrap
                  .single-page__body__form__group__middle_category-select-wrap__select-wrap
                    = f.collection_select :middle_category_id, MiddleCategory.all, :id, :name, {},{class: 'single-page__body__form__category' }
                    = fa_icon 'angle-down', class: 'single-page__body__form__group__middle_category-select-wrap__select-wrap__icon-arrow-bottom'
                %label{for: 'small_category_id', class: 'single-page__body__form__group__label'}
                %br
                .single-page__body__form__large_category-select-wrap
                  .single-page__body__form__group__small_category-select-wrap__select-wrap
                  = f.collection_select :small_category_id, SmallCategory.all, :id, :name, {},{class: 'single-page__body__form__category' }
                  = fa_icon 'angle-down', class: 'single-page__body__form__group__small_category-select-wrap__select-wrap__icon-arrow-bottom'
              .single-page__body__form__sell-box-option
                =f.label :item_size_id,'サイズ', class: 'single-page__body__form__label-size'
                %span.single-page__body__form__group__require-mark
                  必須
                %br
                .single-page__body__form__large_category-select-wrap
                  .single-page__body__form__group__size-select-wrap__select-wrap
                    = f.collection_select :item_size_id, ItemSize.all, :id, :size, {},{class: 'single-page__body__form__category' }
                    = fa_icon 'angle-down', class: 'single-page__body__form__group__size-select-wrap__select-wrap__icon-arrow-bottom'
              .single-page__body__form__sell-box-option
                .single-page__body__form__group
                  =f.label :brand,'ブランド', class: 'single-page__body__form__label-brand'            
                  %span.single-page__body__form__group__optional-mark
                    任意
                  .single-page__body__form__large_category-select-wrap
                    .single-page__body__form__group__state-select-wrap__select-wrap
                      = f.collection_select :brand_id, Brand.all, :id, :name, {},{class: 'single-page__body__form__category' }
                      = fa_icon 'angle-down', class: 'single-page__body__form__group__state-select-wrap__select-wrap__icon-arrow-bottom'                      
                %br
              .single-page__body__form__sell-box-option
                .single-page__body__form__group
                  =f.label :item_condition_id,'商品の状態', class: 'single-page__body__form__label'
                  %span.single-page__body__form__group__require-mark
                    必須
                  %br
                  .single-page__body__form__large_category-select-wrap
                    .single-page__body__form__group__state-select-wrap__select-wrap
                      = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {},{class: 'single-page__body__form__category' }
                      = fa_icon 'angle-down', class: 'single-page__body__form__group__state-select-wrap__select-wrap__icon-arrow-bottom'
                %br
      .single-page__body__form__list-delivery        
        .single-page__body__form__sell
          %h3.single-page__body__form__sell-title
            配送について
          .single-page__body__form__sell-box
            .single-page__body__form__sell-box-option
              =f.label :delivery_charge_id,'配送料の負担', class: 'single-page__body__form__label'
              %span.single-page__body__form__group__require-mark
                必須
              %br
              .single-page__body__form__large_category-select-wrap
                .single-page__body__form__group__small_category-select-wrap__select-wrap
                = f.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, {},{class: 'single-page__body__form__category' }
                = fa_icon 'angle-down', class: 'single-page__body__form__group__delivery_charge-select-wrap__select-wrap__icon-arrow-bottom'
                %br
            .single-page__body__form__sell-box-option
              .single-page__body__form__group
                =f.label :delivery_way_id,'配送の方法', class: 'single-page__body__form__label'
                %span.single-page__body__form__group__require-mark
                  必須
                %br
                .single-page__body__form__large_category-select-wrap
                  .single-page__body__form__group__small_category-select-wrap__select-wrap
                  = f.collection_select :delivery_way_id, DeliveryWay.all, :id, :name, {},{class: 'single-page__body__form__category' }
                  = fa_icon 'angle-down', class: 'single-page__body__form__group__delivery_way-select-wrap__select-wrap__icon-arrow-bottom'
            .single-page__body__form__sell-box-option
              .single-page__body__form__group
                =f.label :prefecture_id,'発送元の地域', class: 'single-page__body__form__label'
                %span.single-page__body__form__group__require-mark
                  必須
                %br
                .single-page__body__form__large_category-select-wrap
                  .single-page__body__form__group__small_category-select-wrap__select-wrap
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {},{class: 'single-page__body__form__category' }                    
                  = fa_icon 'angle-down', class: 'single-page__body__form__group__delivery_prefecture-select-wrap__select-wrap__icon-arrow-bottom'
            .single-page__body__form__sell-box-option
              .single-page__body__form__group               
                =f.label :delivery_time_id,'発送までの日数', class: 'single-page__body__form__label'
                %span.single-page__body__form__group__require-mark
                  必須
                %br
                .single-page__body__form__large_category-select-wrap
                  .single-page__body__form__group__small_category-select-wrap__select-wrap
                    = f.collection_select :delivery_time_id, DeliveryTime.all, :id, :name, {},{class: 'single-page__body__form__category' }                      
                    = fa_icon 'angle-down', class: 'single-page__body__form__group__delivery_time-select-wrap__select-wrap__icon-arrow-bottom'
        .single-page__body__form__list-money 
          .single-page__body__form__sell
            %h3.single-page__body__form__sell-title
              販売価格(300〜9,999,999)
            .single-page__body__form__group
              =f.label :price,'価格', class: 'single-page__body__form__label-money'
              %span.single-page__body__form__group__require-mark
                必須
              %br
              .single-page__body__form__money-wrap
                .single-page__body__form__group__small_category-select-wrap__select-wrap
                  = f.text_field :price , placeholder: '例）300', class: 'single-page__body__form__category', id: "price_form"
              .single-page__body__form__money-wrap
                .single-page__body__form__group__small_category-select-wrap__select-wrap
                  %p 販売手数料(10%)
                  %p#charge_form -
              .single-page__body__form__money-wrap
                .single-page__body__form__group__small_category-select-wrap__select-wrap
                  %h3 販売利益
                  %h3#profit_form -
        %div.caution
          %p
            = link_to '禁止されている出品',  ""
            、
            = link_to '行為',  ""
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to '偽ブランドの販売',  ""            
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to '加盟店規約',  ""   
            に同意したことになります。
        %div.caution
          = f.submit '出品する', class:'single-page__body__form__submit-btn__new-item'
          = link_to '戻る', root_path, method: :get, class: 'single-page__body__form__submit-btn__return'
      = render 'shared/single-page/single-page__footer'