%header.main-page__header
  .main-page__header__inner
    .main-page__header__top
      %h1.main-page__header__top__mercari-logo
        = link_to '', class: 'main-page__header__top__mercari-logo__link' do
          = image_tag 'logo.svg', alt: "mercari", class: "main-page__header__top__mercari-logo__image"
      / 検索コントローラを作成したら下記直すこと
      %form.main-page__header__top__search-form
        %input{name: 'keyword', class: 'main-page__header__top__search-form__input-text', placeholder: "何かお探しですか？"}
        = fa_icon 'search', class: 'main-page__header__top__search-form__icon'
    .main-page__header__nav-box
      %nav.main-page__header__nav-box__left-box
        %ul.main-page__header__nav-box__left-box__list
          = render 'shared/main-page/main-header/category'
          = render 'shared/main-page/main-header/brand'
      .main-page__header__nav-box__right-box
        %ul.main-page__header__nav-box__right-box__list
          = render 'shared/main-page/main-header/notification'
          = render 'shared/main-page/main-header/todo'
          = render 'shared/main-page/main-header/mypage'
