.main-page__footer__cell__inner-cell
  %ul.main-page__footer__cell__inner-cell__list
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/', class: 'main-page__footer__cell__inner-cell__list__item__link'
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/', class: 'main-page__footer__cell__inner-cell__list__item__link'
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to 'あんしんスマホサポート制度に関する利用特約', 'https://www.mercari.com/jp/tos_smartphone_support/', class: 'main-page__footer__cell__inner-cell__list__item__link'
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to 'コンプライアンスポリシー', 'https://www.mercari.com/jp/compliance/', class: 'main-page__footer__cell__inner-cell__list__item__link'
.main-page__footer__cell__inner-cell
  %ul.main-page__footer__cell__inner-cell__list
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to '個人データの安全管理に係る基本方針', 'https://www.mercari.com/jp/data_security/', class: 'main-page__footer__cell__inner-cell__list__item__link'
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to '特定商取引に関する表記', 'https://www.mercari.com/jp/tokutei/', class: 'main-page__footer__cell__inner-cell__list__item__link'
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to '資金決済法に基づく表示', 'https://www.mercari.com/jp/shikin_kessai/', class: 'main-page__footer__cell__inner-cell__list__item__link'
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to '法令遵守と犯罪抑止のために', 'https://about.mercari.com/csr/safety/', class: 'main-page__footer__cell__inner-cell__list__item__link'
    %li.main-page__footer__cell__inner-cell__list__item
      = link_to '返品・返金ポリシー', 'https://www.mercari.com/jp/refund-returns/', class: 'main-page__footer__cell__inner-cell__list__item__link'
