%main.main-page__body
  .main-page__body__content.main-page__body__content--full-width
    %ul.main-page__body__content__nav-list
      - nav_lists.each do |nav|
        %li.main-page__body__content__nav-list__item
          = link_to nav.name , "", class: "main-page__body__content__nav-list__item__link"
    %section.main-page__body__content__item-box-container
      %h1.main-page__body__content__item-box-container__title
        = "#{target.name}の商品一覧"
      .main-page__body__content__item-box-container__content
        - items.each do |item|
          .main-page__body__content__item-box-container__content__item
            = render 'items/index/index-item', { item: item }
    = paginate(@items)
    .main-page__body__content__description
      .main-page__body__content__description__header
        %h3.main-page__body__content__description__header__title
          = target.name
