.main-page
  = render 'shared/main-page/main-header'
  = render 'shared/main-page/bread-crumbs'
  = render 'users/registrations/identification/main-body'
  = render 'shared/main-page/aside'
  = render 'shared/main-page/main-footer'
  = render 'shared/main-page/footer-sell-button'
